<article>
  <div class="container">
    <div class="title-block">
      <h2>投資方式介紹</h2>
      <h1>標的篩選</h1>
    </div>
    <div class="desc-block">
      <p>因為共同基金高管理費，經理人較高周轉率帶動之高交易成本都是基金投資的隱藏性成本。一般來說，共同基金表現大多落後指數也正是此些原因所致。因此我們選擇ETF作為永豐智能理財的投資工具。</p>
      <br>
      <p>各種資產類別皆有多檔ETF，我們首先仔細檢視各ETF，比較其指數追蹤能力、費用率、規模、交易量等，確保您的投資都能以最有效率的方式進行。</p>
      <br>
      <table class="formatted-table">
        <thead>
          <tr>
            <th>
            </th>
            <th>
              <p>ETF</p>
            </th>
            <th>
              <p>共同基金</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>操作模式</p>
            </td>
            <td>
              <p>被動調整成份股</p>
            </td>
            <td>
              <p>主動操作</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>管理費</p>
            </td>
            <td>
              <p>低</p>
            </td>
            <td>
              <p>高</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>績效表現</p>
            </td>
            <td>
              <p>隨標的指數漲跌</p>
            </td>
            <td>
              <p>視經理人操盤能力</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>人為風險</p>
            </td>
            <td>
              <p>無</p>
            </td>
            <td>
              <p>經理主觀意識</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>投資組合周轉率</p>
            </td>
            <td>
              <p>低；定期調整</p>
            </td>
            <td>
              <p>高；視經理人操作調整</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>投資組合透明度</p>
            </td>
            <td>
              <p>ETF持股內容透明</p>
            </td>
            <td>
              <p>較難即時得知投資明細</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="btn-block">
      <button class="btn" routerLink="/trailcalc">開始試算</button>
    </div>
  </div>
</article>
