<div class="warnings">
  <h1>投資警語</h1>
  <h2>歷史模擬</h2>
  <ol class="decimal">
    <li>歷史模擬之模擬投資工具如下：
      <p>股票型資產：</p>
      <ul class="disc">
        <li>西元1929年~1970年為S&amp;P 500指數總報酬率</li>
        <li>西元1971年以後為S&amp;P 500指數與MSCI World Index指數各半的總報酬率；<br>債券型資產：3個月美國國庫券與10年美國政府公債各半的總報酬率。</li>
      </ul>
    </li>
    <li><strong class="deepred underline font-larger">模擬結果不代表未來績效之保證。</strong></li>
    <li>歷史模擬結果，並非以實際投資標的計算，而是以指數年度總報酬資料為基準推算每月報酬，且<strong class="deepred underline font-larger">未考量ETF費用、稅務、可能交易價格、匯率變化、以及實際投資時間差之影響</strong>。</li>
  </ol>
  <br>
  <h2>資產展望</h2>
  <ol class="decimal">
    <li>
      投資組合依據投資期間與目標達成率進行績效模擬，並假設資產報酬分配屬常態分配。以投資金額、資產報酬率與波動度(標準差)和資產間相關係數進行蒙地卡羅模擬，推估投資組合的可能價值。<strong class="deepred underline font-larger">惟本模擬之結果僅供參考，無法保證準確性，未來實際狀況可能與模擬數值出現落差。紅線表示投資人投入本金走勢，藍線表示投資組合的市值走勢</strong>。
    </li>
    <li>投資組合的資產展望有三種模擬情境：分別為較佳表現(投資組合的表現有20%機率優於此數值)、一般表現(投資組合的表現有50%機率優於此數值)和較差表現(投資組合的表現有80%機率優於此數值)。</li>
  </ol>
  <br>
  <h2>注意事項</h2>
  <div class="list">
    <ul class="disc">
      <li>
        <strong class="deepred underline font-larger">指數股票型基金(ETF)以往之表現不保證其最低投資收益，亦不受存款保險、保險安定基金或其他相關保障機制之保障</strong>。本行除盡善良管理人之注意義務外，不負責指數股票型基金(ETF)之盈虧，亦不保證最低之收益，投資人申購前應詳閱開戶總約定書、公開說明書、風險預告書及投資人聲明書等有關文件。
      </li>
      <li>
        投資組合模擬結果僅供參考，主要為提供模擬投資之用，非屬信託推介或任何投資決策之建議，本行就上開報告內容可隨時更改或撤回。<strong class="deepred underline font-larger">任何基於前開內容之任何交易或投資決定，投資人均須自負風險及盈虧，本行不負任何責任；任何人不得因信賴該等資料為由，向本行主張權利或提出訴訟</strong>。
      </li>
      <li><strong class="deepred underline font-larger">投資一定有風險，投資有賺有賠</strong>，申購前應詳閱「公開說明書」，「公開說明書」如Prospectus、Prospectus Supplement等為ETF之發行機構提供，投資人可逕自於各相關發行機構官網下載。</li>
      <li>
        歷史模擬之結果僅供參考，<strong class="deepred underline font-larger">非屬信託推介或任何投資決策之建議，亦不代表投資組合之實際報酬率及未來績效保證</strong>，不同時間進行模擬操作，其結果亦可能不同；本行就上開報告內容可隨時更改或撤回。任何基於前開內容之任何交易或投資決定，投資人均須自負風險及盈虧，本行不負任何責任；任何人不得因信賴該等資料為由，向本行主張權利或提出訴訟。
      </li>
      <li>歷史模擬模擬期間係依據投資人設定之投資年限而定。</li>
    </ul>
  </div>
  <br>
  <h2>自動化投資顧問服務注意事項</h2>
  <ol class="decimal">
    <li><strong class="deepred underline font-larger">客戶於使用前應詳閱服務內容或其他相關公開揭露資訊</strong>：客戶應先審閱自動化投資顧問服務所揭露之所有相關文件，瞭解其內容 、條款，例如有關於演算法或投資組合建構之描述、使用自動化投資顧問服務之手續費或其他費用、終止自動化投資顧問服務之情形及後續處理、以及資產變現所需時間，以確保自身權益。</li>
    <li>
      <p><strong class="deepred underline font-larger">客戶應認知投資工具有其內在限制與現實情況所存在的潛在落差</strong>，包括：</p>
      <ul class="disc">
        <li>系統或程式之基本假設：客戶應體認系統本身有其限制與重要基本假設，但假設可能未必與事實或個案情節相符。例如 ，若自動化投資顧問服務系統預期未來利率呈上升趨勢，但市場上利率水準依然偏低，則系統之假設便與現實不符。</li>
        <li>提供產品範圍：客戶應了解系統提供之投資產品範圍的侷限 性，如可能僅包括基金或 ETF，未含個股，而未必符合客戶的投資目標，及單一產品如 ETF種類未必包括市場上的所有 ETF，致使產出的投資組合建議方案有限。</li>
      </ul>
    </li>
    <li><strong class="deepred underline font-larger">客戶應理解自動化投資顧問服務之產出直接繫於客戶所提供之資訊</strong>：自動化投資顧問服務系統所列的問題清單，將限制或影響客戶所提供之資訊內容，而客戶所提供資訊則影響系統之產出結果 （即投資組合建議）。因此，若客戶不了解系統所詢問之問題時 ，應立即詢問自動化投資顧問業者。客戶亦應注意系統所列問題可能會過於一般化、模糊或有誤導之虞，也有可能誘導客戶選擇系統所預設之選項。</li>
    <li><strong class="deepred underline font-larger">客戶應注意系統之產出未必符合客戶個人的財務需要或目標</strong>：自動化投資顧問服務系統因無法評估客戶之所有情況與環境，例如 ，年齡、經濟狀況與財務需要、投資經驗、其他資產、稅務概況 ，承受風險之意願，投資回收期間長短、現金需求，與投資目標等等，從而自動化投資顧問服務系統所提出之投資組合建議未必適於個別客戶。例如，系統可能僅考量客戶之年齡，卻未考量客戶於其他金融機構之資產狀況，或投資後一段時間可能有購買不動產之計畫；或系統並未考量客戶之投資目標可能改變，而未能做相對應之調整。</li>
  </ol>
</div>
