<article>
  <div class="container">
    <div class="title-block">
      <h2>投資方法介紹</h2>
      <h1>演算法</h1>
    </div>
    <div class="desc-block">
      <p>協助客戶「達成投資目標」是我們最關心的大事。</p>
      <p>我們的數量模型也是依循同樣的理念建立。隨著個人投資期間與目標達成率的變化，動態的調整股債配置比例，以最穩健的方式朝目標前進。</p>
      <br>
      <p>首先我們將資產分為股票與債券兩大類。因為股票具有高波動高報酬的特性，而債券具有低波動低報酬的特性。因為股債資產不同的特性，演算法可依據目標的達成率與剩餘的投資期間的不同而有不同的配置。總體來說，演算法具有下列特性：</p>
      <ul class="disc">
        <li>在預期目標達成率接近100%下，資產將主要配置在債券，以避免煮熟的鴨子飛了。</li>
        <li>若投資期間還很長且目標達成率尚低，資產將會配置在股票，以達成目標。</li>
        <li>同樣的投資期間，若目標達成率尚低，股票的配置愈高，若可以穩健達標，股票投資比率愈低。</li>
        <li>同樣的目標達成率，投資期間愈短，股票的配置愈低，債券的配置愈高，以確保投資成效。</li>
      </ul>
    </div>
    <div class="btn-block">
      <button class="btn" routerLink="/trailcalc">開始試算</button>
    </div>
  </div>
</article>
