<div class="wrap service-modal-wrap sp-info">
  <div class="close"></div>
  <div class="step-box step-1 active">
      <div class="list-tit">專人服務</div>
      <div class="list">
          <a class="item" href="https://chatservice.sinopac.com/Webhook/?site=ibrAin#department/1" target="_blank">智慧小豐</a>
          <a class="item" href="https://bank.sinopac.com/sinopacBT/webevents/TCF/friendly.html" target="_blank">金融友善專區</a>
          <!-- <a class="item goStep2" style="border-bottom:none">理財諮詢專線</a> -->
          <!-- <a class="item goStep4">視訊服務</a> -->
      </div>
  </div>
  <div class="step-box step-2">
      <div class="box-wrap">
          <div class="step-box-title">理財諮詢專線</div>
          <a class="tel">TEL:(02)6632-6068</a>
          <span>(服務時間：營業日9：00-18：00)</span>
          <div class="inline-button m">
              <a class="button goStep3" href="tel:02-66326068">確定</a>
              <a class="button goStep1">取消</a>
          </div>
      </div>
  </div>
  <div class="step-box step-3">
      <div class="box-wrap">
          <div class="step-box-title">理財諮詢專線</div>
          <a href="tel:02-66326068" class="tel">TEL:(02)6632-6068</a>
          <p>撥打後將有專人為您服務，謝謝。</p>
      </div>
  </div>
  <div class="step-box step-4">
      <div class="box-wrap">
          <p>本服務需於永豐行動銀行進行。<br>(路徑：首頁→客服一點通→理財諮詢視訊服務)</p>

      </div>
      <div class="webcam-wrap">
          <a class="button webcam-btn" onclick="">立即使用視訊服務</a>
          <div class="divide"><span>或</span></div>
          <a class="button" href="https://mma.tw/app" target="_blank">還沒有行動銀行</a>
      </div>
  </div>
</div>
