<article>
  <div class="container">
    <div class="title-block">
      <h2>關於</h2>
      <h1>智能理財</h1>
    </div>
    <div class="desc-block">
      <p>在投資的歷程上，我們時常迷失在價格的漲跌之中。一點風吹草動，我們可能貿然躁進，結果常遇到買了跌，賣了漲的困境。事實上，我們常常都在價格起伏之中遺忘了我們投資的初衷，可能我們投資是為了人生的第一桶金、或是旅遊基金甚或是圓一個兒時的夢。甚或是我們雖然知道投資的重要，但卻不知道如何開始。</p>
      <br>
      <p>智能理財提供您截然不同的投資經驗。從選擇投資目標、投資計畫的規劃，到投資組合的建立。簡單的步驟，兼顧您的需求並配合客觀條件。</p>
      <br>
      <p>我們時時守護您投資的每一塊錢，短期的波動，市場或許稍微拉回，但我們時時檢視您的資產與目標，規劃最佳路徑朝目標前進，使您的心情毋須再隨著市場波動而上下起伏。</p>
      <br>
      <p>達成您的目標是我們最關心的大事，時時監控並配合現有的狀態適時調整配置，以最平穩的步伐朝目標前進 是我們的使命。</p>
    </div>
    <div class="btn-block">
      <button class="btn" routerLink="/trailcalc">開始試算</button>
    </div>
  </div>
</article>
