<article>
  <div class="container">
    <div class="title-block">
      <h2>關於</h2>
      <h1>運作方式</h1>
    </div>
    <div class="desc-block">
      <div class="desc text-center">
        <p>您的需求的人生目標</p>
        <p>我們一起設計配合您的節奏的投資計畫</p>
        <p>按部就班的，一步步的向目標邁進</p>
      </div>
      <ul class="black-items steps">
        <li>設定目標</li>
        <li class="arrow"></li>
        <li>專屬計畫</li>
        <li class="arrow"></li>
        <li>執行計畫</li>
      </ul>
      <ul class="items">
        <li>
          <div class="leading lato">01</div>
          <div class="desc">
            <p class="sub-title">規劃投資目標</p>
            <p>首先先選擇投資目標，我們將詢問幾個簡單的小問題</p>
          </div>
        </li>
        <li>
          <div class="leading lato">02</div>
          <div class="desc">
            <p class="sub-title">建立投資計畫</p>
            <p>依據您的投資目標與您個人特質，我們將提供專屬於您的投資計畫。過程中，您隨時可依據您資金調度的需要，或規劃等來調整您的投資計畫</p>
          </div>
        </li>
        <li>
          <div class="leading lato">03</div>
          <div class="desc">
            <p class="sub-title">執行投資計畫</p>
            <p>秉持從一而終的量身打造，利用智能的投資演算法依據市場狀況以及變動來動態調整您的投資組合，確保投資報酬依然精準地朝您的理財目標邁進</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn-block">
      <button class="btn" routerLink="/trailcalc">開始試算</button>
    </div>
  </div>
</article>





