<article class="trailcalc">
  <figure>
    <a [routerLink]="['/trailcalc/assets-grow']" href="#" (click)="setPlan('assets-grow');">
      <img src="assets/images/assets-grow.jpg" alt="資產增值">
    </a>
  </figure>
  <figure>
    <a [routerLink]="['/trailcalc/retire-plan']" href="#" (click)="setPlan('retire-plan');">
      <img src="assets/images/retire-plan.jpg" alt="退休規劃">
    </a>
  </figure>
  <figure>
    <a [routerLink]="['/trailcalc/shop-funds']" href="#" (click)="setPlan('shop-funds');">
      <img src="assets/images/shop-funds.jpg" alt="開店基金">
    </a>
  </figure>
  <figure>
    <a [routerLink]="['/trailcalc/buying-house']" href="#" (click)="setPlan('buying-house');">
      <img src="assets/images/buying-house.jpg" alt="購屋頭期">
    </a>
  </figure>
  <figure>
    <a [routerLink]="['/trailcalc/childs-edu']" href="#" (click)="setPlan('childs-edu');">
      <img src="assets/images/childs-edu.jpg" alt="子女教育">
    </a>
  </figure>
  <figure>
    <a [routerLink]="['/trailcalc/custom-plan']" href="#" (click)="setPlan('custom-plan');">
      <img src="assets/images/custom-plan.jpg" alt="自訂計畫">
    </a>
  </figure>
</article>
