@media (max-width: #{$mblrwd-breakpoint + 'px'}) {
  /* buttons */
  button {
    font-size: vwm(36px);
    white-space: nowrap;
  }
  .btn {
    border-radius: vwm(10px);
    padding: vwm(20px) 0;
    &.return {
      background: white url(#{$image-path}return.svg) no-repeat center center;
      background-size: vwm(14px) vwm(28px);
      width: auto !important;
      color: transparent;
      white-space: nowrap;
    }
    .static-content & {
      width: 100%;
    }
  }

  .btn-block {
    margin-top: vwm(100px);
    margin-bottom: vwm(100px);
    .calc-container & {
      margin-top: vwm(50px);
    }
    .btn {
      font-size: vwm(40px);
      .index-bg & {
        letter-spacing: vw(10px);
        width: 70%;
      }
    }
    &.inline {
      padding: 0 vwm(20px);
      .btn {
        flex-grow: 1;
        + .btn {
          margin-left: vwm(20px);
        }
      }
    }
    &.in-modal {
      margin-top: vwm(40px);
    }
  }

  .action-btn {
    background-color: transparent !important;
    .btn-wrapper {
      transition: .3s ease;
      transform: translateZ(0);
      .btn {
        padding: vwm(10px) 0;
      }
    }
    &.fixed {
      height: vwm(100px);
      box-sizing: border-box;
      .btn-wrapper {
        // position: fixed;
        z-index: 1;
        left: vwm(20px);
        right: vwm(20px);
        bottom: vwm(20px);
        animation: bounceInUp2 0.3s 1 ease both;
        .btn {
          padding: vwm(10px) 0;
          box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  /* radio button */
  .form-radio {
    input[type='radio'] {
      &:checked {
        + .check {
          &::after {
            left: vwm(6px);
            top: vwm(6px);
            width: vwm(26px);
            height: vwm(26px);
          }
        }
      }
      + .check {
        margin-right: vwm(10px);
        &::before {
          width: vwm(34px);
          height: vwm(34px);
          border-width: vwm(2px);
        }
      }
    }
  }

   /* Checkbox */
   .form-checkbox {
    input[type='checkbox'] {
      &:checked {
        + .check-block {
          .check {
            &::before {
              width: vwm(16px);
              height: vwm(9px);
              border-left-width: vwm(6px);
              border-bottom-width: vwm(5px);
              left: vwm(3px);
              top: vwm(4px);
            }
          }
        }
      }
    }
    .check-block {
      .check {
        border-radius: vwm(5px);
        width: vwm(30px);
        height: vwm(30px);
        margin-right: vwm(15px);
      }
    }
  }

  /* select */
  .form-select {
    .value {
      padding: vwm(20px);
      border-radius: vwm(15px);
      &::after {
        right: vwm(25px);
        border-width: vwm(25px) vwm(15px) 0 vwm(15px);
      }
    }
    &.pull-right {
      .value {
        padding-right: vwm(65px);
        &::after {
          right: vwm(20px);
          border-width: vwm(28px) vwm(16px) 0 vwm(16px);
        }
      }
    }
    &.inline-style {
      .value {
        padding-right: vwm(40px);
        border-bottom-width: vwm(2px);
        &::after {
          right: vwm(10px);
          border-width: vwm(20px) vwm(12px) 0 vwm(12px);
        }
      }
    }
  }

  /* input */
  input {
    &[type='text'],
    &[type='email'],
    &[type='number'] {
      padding: 0 vwm(20px);
      line-height: 2;
    }
    &.inline-style {
      border-bottom-width: vwm(2px);
    }
  }

  /* form block */
  .form-block {
    width: 90vw;
    border-radius: vwm(15px);
    padding: vwm(40px);
    &.modal {
      height: 70vh;
      font-size: vwm(30px);
      padding: vwm(40px) vwm(35px) vwm(50px);
    }
    th, td {
      padding: vwm(30px) 0;
    }
    th {
      font-size: vwm(34px);
      + td {
        padding-top: 0;
      }
    }
    td {
      font-size: vwm(40px);
    }
    .grid {
      .grid-row {
        margin-bottom: vwm(30px);
      }
      .row {
        span {
          &.label {
            width: vwm(95px);
          }
        }
        input {
          margin: 0 vwm(40px);
        }
        &.row-row {
          .label {
            padding-bottom: vwm(40px);

            display: inline-block;

            padding-top: vwm(40px);
          }
        }
      }
    }
  }

  .spin {
    width: vwm(40px * 1.35);
    height: vwm(40px * 1.35);
    &::before,
    &::after {
      border-width: vwm(4px * 1.35);
    }
    &.minus {
      margin-right: vwm(15px * 1.35);
    }
    &.plus {
      margin-left: vwm(15px * 1.35);
    }
  }

  // material style
  .mat-slider {
    margin-top: vwm(40px);
    &.mat-slider-horizontal  {
      height: vwm(54px);
      .mat-slider-wrapper {
        height: vwm(8px);
      }
    }

    &.mat-accent {
      .mat-slider-thumb {
        width: vwm(50px);
        height: vwm(50px);
        border: vwm(8px) solid #d84653;
        right: vwm(-25px);
        bottom: vwm(-25px);
      }
    }
  }

  .mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb,
  .mat-slider:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb,
  .mat-slider:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb {
    border-width: vwm(8px) !important;
  }
}
